<div class="image">
    <h1 class="trailTitle"></h1>
</div>

<form class="search-form">
    <div class="form-group">
        <label for="availableHours">How Much Time Do You Have?</label>
        <input type="number" class="form-control miles-input" id="availableHours" name="availableHours"
            placeholder="Enter Hours">

    </div>


    <button type="submit" class="btn2 btn-primary">Search</button>
</form>

<div class="scroll-bar" </div> {{#each trails}} <p>Name: {{this.name}}
    </p>
    <p>Location: {{this.location}}</p>
    <p>Length: {{this.length}}</p>
    {{!-- <p>Distance: {{this.distance}}</p> --}}
    <button type="button" class="btn3 btn-primary">Add to Calendar</button>
    <button type="button" onclick="addToTaskList(this);" data-title="Walk the {{this.name}}"
        data-description="Length: {{this.length}}" class="btn3 btn-primary">Add to Your
        Task List</button>

    <hr>
    {{/each}}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/trails.js"></script>